In [49]:
import pandas as pd
import numpy as np
from datetime import datetime
from tqdm import tqdm_notebook

### Read file

In [50]:
fileName = 'Trade'
dateAttribute = 'TradeDateKey'

df = pd.read_csv(fileName + '.csv')

df.shape

(6762021, 8)

### Create date attributes

In [51]:
df[dateAttribute] = pd.to_datetime(df[dateAttribute], format='%Y%m%d')
#df['day_of_week'] = df['date'].dt.dayofweek # 0 == Monday, 6 = Sunday
#df['day_of_month'] = df['date'].dt.day
#df['month'] = df['date'].dt.month
df['week_start'] = df[dateAttribute].dt.to_period('W-SUN').dt.start_time

#df.sort_values('date', inplace=True)

df.shape

(6762021, 9)

In [52]:
df.head()

,TradeDateKey,CustomerIdx,IsinIdx,BuySell,NotionalEUR,Price,TradeStatus,CustomerInterest,week_start
0,2016-12-07,2789,8478,Sell,653168.0,0.0,Unknown,1.0,2016-12-05
1,2017-03-29,2574,14562,Buy,1656487.0,0.0,Unknown,1.0,2017-03-27
2,2017-04-18,2574,4747,Buy,939673.0,0.0,Unknown,1.0,2017-04-17
3,2017-03-10,2574,9885,Sell,708082.0,0.0,Unknown,1.0,2017-03-06
4,2016-11-16,2574,8885,Buy,1147709.0,0.0,Unknown,1.0,2016-11-14

### Create week groups

In [53]:
weeks = [g for n, g in df.groupby(pd.Grouper(key=dateAttribute,freq='W-SUN'))]

### Create df by week

In [54]:
%%time
    columns = np.append(df.columns, ['week'])
    df_by_week = pd.DataFrame(columns=columns)

    for i in tqdm_notebook(range(len(weeks))):
        weeks[i]['week'] = i
        firstRow = weeks[i].iloc[0]
        weeks[i]['mondayDate'] = firstRow[dateAttribute]

    df_by_week = df_by_week.append(weeks, ignore_index=True)

HBox(children=(IntProgress(value=0, max=121), HTML(value='')))

CPU times: user 4.64 s, sys: 459 ms, total: 5.1 s
Wall time: 5.2 s

### Verify df

In [56]:
print(df_by_week.shape)
df_by_week[df_by_week['week'] == 120][['TradeDateKey', 'week_start', 'mondayDate', 'week']]

(6762021, 11)

        TradeDateKey week_start mondayDate week
6735946   2018-04-16 2018-04-16 2018-04-16  120
6735947   2018-04-16 2018-04-16 2018-04-16  120
6735948   2018-04-16 2018-04-16 2018-04-16  120
6735949   2018-04-16 2018-04-16 2018-04-16  120
6735950   2018-04-16 2018-04-16 2018-04-16  120
6735951   2018-04-16 2018-04-16 2018-04-16  120
6735952   2018-04-16 2018-04-16 2018-04-16  120
6735953   2018-04-16 2018-04-16 2018-04-16  120
6735954   2018-04-16 2018-04-16 2018-04-16  120
6735955   2018-04-16 2018-04-16 2018-04-16  120
6735956   2018-04-16 2018-04-16 2018-04-16  120
6735957   2018-04-16 2018-04-16 2018-04-16  120
6735958   2018-04-16 2018-04-16 2018-04-16  120
6735959   2018-04-16 2018-04-16 2018-04-16  120
6735960   2018-04-16 2018-04-16 2018-04-16  120
6735961   2018-04-16 2018-04-16 2018-04-16  120
6735962   2018-04-16 2018-04-16 2018-04-16  120
6735963   2018-04-16 2018-04-16 2018-04-16  120
6735964   2018-04-16 2018-04-16 2018-04-16  120
6735965   2018-04-16 2018-04-16 2018-04-16  120
6735966   2018-04-16 2018-04-16 2018-04-16  120
6735967   2018-04-16 2018-04-16 2018-04-16  120
6735968   2018-04-16 2018-04-16 2018-04-16  120
6735969   2018-04-16 2018-04-16 2018-04-16  120
6735970   2018-04-16 2018-04-16 2018-04-16  120
6735971   2018-04-16 2018-04-16 2018-04-16  120
6735972   2018-04-16 2018-04-16 2018-04-16  120
6735973   2018-04-16 2018-04-16 2018-04-16  120
6735974   2018-04-16 2018-04-16 2018-04-16  120
6735975   2018-04-16 2018-04-16 2018-04-16  120
...              ...        ...        ...  ...
6761991   2018-04-20 2018-04-16 2018-04-16  120
6761992   2018-04-20 2018-04-16 2018-04-16  120
6761993   2018-04-20 2018-04-16 2018-04-16  120
6761994   2018-04-20 2018-04-16 2018-04-16  120
6761995   2018-04-20 2018-04-16 2018-04-16  120
6761996   2018-04-20 2018-04-16 2018-04-16  120
6761997   2018-04-20 2018-04-16 2018-04-16  120
6761998   2018-04-20 2018-04-16 2018-04-16  120
6761999   2018-04-20 2018-04-16 2018-04-16  120
6762000   2018-04-20 2018-04-16 2018-04-16  120
6762001   2018-04-20 2018-04-16 2018-04-16  120
6762002   2018-04-20 2018-04-16 2018-04-16  120
6762003   2018-04-20 2018-04-16 2018-04-16  120
6762004   2018-04-20 2018-04-16 2018-04-16  120
6762005   2018-04-20 2018-04-16 2018-04-16  120
6762006   2018-04-20 2018-04-16 2018-04-16  120
6762007   2018-04-20 2018-04-16 2018-04-16  120
6762008   2018-04-20 2018-04-16 2018-04-16  120
6762009   2018-04-20 2018-04-16 2018-04-16  120
6762010   2018-04-20 2018-04-16 2018-04-16  120
6762011   2018-04-20 2018-04-16 2018-04-16  120
6762012   2018-04-20 2018-04-16 2018-04-16  120
6762013   2018-04-20 2018-04-16 2018-04-16  120
6762014   2018-04-20 2018-04-16 2018-04-16  120
6762015   2018-04-20 2018-04-16 2018-04-16  120
6762016   2018-04-20 2018-04-16 2018-04-16  120
6762017   2018-04-20 2018-04-16 2018-04-16  120
6762018   2018-04-22 2018-04-16 2018-04-16  120
6762019   2018-04-22 2018-04-16 2018-04-16  120
6762020   2018-04-22 2018-04-16 2018-04-16  120

[26075 rows x 4 columns]

### Save df by week

In [63]:
df_by_week.to_csv(fileName + '_by_week.csv', sep=',', index=False)